<!DOCTYPE html>
<html>
  <head>
    <title>Your Fortune is.....</title>
  </head>
  <body>
    <h1>Your Fortune is.....</h1>
    <p>You don't have to be faster than the bear, you just have to be faster than the slowest guy running from it.</p>
  </body>
</html>
