<html>
<head>
  <title>Fortune Quiz</title>
</head>
<body>
  <h1>Fortune Quiz</h1>
  <p>Answer all the questions and get a fortune.</p>

  <form action="/results" method="post">

  <h2>1.)Movies or Books?</h2>
  <input type="radio" name="question1" value="10">Movies
  <br>
  <input type="radio" name="question1" value="10">Books

  <h2>2.)What is your favorite color?</h2>
  <input type="radio" name="color" value="10">Red
  <br>
  <input type="radio" name="color" value="20">Green
  <br>
  <input type="radio" name="color" value="15">Blue
  <br>
  <input type="radio" name="color" value="5">Yellow

  <button type="submit" class="new">Your Fortune</button>

  </form>
</body>
</html>
