<html>
  <head>
    <title>Your Fortune is.....</title>
  </head>
  <body>
    <h1>Your Fortune is....</h1>
    <p>Your resemblance to a muppet will prevent the world from taking you seriously</p>
  </body>
</html>
